[Unit]
Description=Start powernap daemon

[Service]
Type=forking
ExecStartPre=
ExecStart=/usr/bin/python3.5 /usr/local/bin/powernapd
ExecStartPost=
PIDFile=/run/powernap.pid

[Install]
WantedBy=multi-user.target

